/* CSS reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  height: 100vh;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #023c52;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

h1, h2,
h3, h4 {
  text-wrap: balance;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* Profile Card component */

.profile-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  padding: 2rem 3rem 6rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  background: linear-gradient(
    #e2e2e2 0%,
    #e2e2e2 30%,
    #fff 30%,
    #fff 100%
  );
  z-index: 999;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.icon-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.close-icon {
  cursor: pointer;
}

.profile-picture {
  width: 30%;
  border-radius: 50%;
}

.profile-text {
  padding-bottom: 1rem;
}

.profile--button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.profile-button {
  padding: 1rem 0;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  color: #daa177;
  border-radius: 10px;
  border: 3px solid #e2e2e2;
  background-color: #fff;
}

/* Product Card component */

.product-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  height: 40rem;
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  background: #fff;
}

.product-options {
  display: flex;
  align-items: center;
  gap: 5px;
}

.product-title {
  font-size: 1.75rem;
  margin-right: auto;
}

.product-options button {
  padding: .5rem;
  width: fit-content;
  border-radius: 10px;
  border: 3px solid #e2e2e2;
  background-color: #fff;
  cursor: pointer;

  transition: .3s ease;
}

.product-author {
  font-size: .9rem;
  padding-bottom: 1rem;
}

.product-author a {
  color: #46484a;
}

.license-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.license-container > span > input {
  margin-right: 5px;
}

.license-container label {
  display: flex;
  align-items: center;
  gap: .5rem;
}

input[type="radio"] {
  appearance: none;
  cursor: pointer;
  block-size: 1.8rem;
  inline-size: 1.8rem;
  border: 1px solid #000;
  background-clip: content-box;
  border-radius: 50%;
  padding: 4px;
}

input[type="radio"]:checked {
  background-color: #023c52;
}

label .pricing {
  margin-left: auto;
  font-weight: 600;
}

label .dimmed {
  color: gray;
}

.license-link {
  color: #46484a;
}

.cart-button {
  width: 100%;
  padding: 1.5rem 0;
  font-weight: 700;
  font-size: 1.175rem;
  color: #daa177;
  border-radius: 10px;
  border: 3px solid #e2e2e2;
  background-color: #fff;
  cursor: pointer;

  transition: .3s ease;
}

.cart-button:hover,
.profile-button:hover {
  color: #fff;
  border: 3px solid #daa177;
  background-color: #daa177;
  box-shadow: rgba(212, 103, 25, 0.3) 0px 20px 25px -5px, rgba(210, 103, 25, 0.1) 0px 10px 10px -5px;
}